li#yandex-search { max-width: 800px !important; min-width: 120px !important; padding-bottom: 3px !important;
}

li#yandex-search * { margin-top: 0 !important; padding-top: 0 !important; padding-bottom: 0 !important;
}
